<!DOCTYPE html>
<html>
<head>
</head>
<body>
<form name = "login" method = "post">
<h2>Login</h2>
<input type="text" id = "username" name = "username" placeholder = "Username" value = <%= username%>><br/>
<input type="password" id = "password" name = "password" placeholder = "Password" value = <%= password%>>
<input type= "hidden" id = "redirect" name = "redirect" value = <%= redirect%> >
<button type = "submit">Login</button>
</form>
</body>
</html>